In [63]:
import pandas as pd
import re
# Load all datasets to inspect their contents
territorial_changes_1816 = pd.read_csv("territorial_changes_since_1816_new.csv")
territorial_changes_1945 = pd.read_csv('territorial_changes_since_1945_new.csv')
hced_data = pd.read_csv('hced_data_new.csv')
battle_deaths = pd.read_csv('hced_data_new.csv')

# Show a summary of the datasets (first few rows and info)
datasets_summary = {
    "territorial_changes_1816_head": territorial_changes_1816.head(),
    "territorial_changes_1816_info": territorial_changes_1816.info(),
    "territorial_changes_1945_head": territorial_changes_1945.head(),
    "territorial_changes_1945_info": territorial_changes_1945.info(),
    "hced_data_head": hced_data.head(),
    "hced_data_info": hced_data.info(),
    "battle_deaths_head": battle_deaths.head(),
    "battle_deaths_info": battle_deaths.info()
}

datasets_summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             842 non-null    int64
 1   country_gaining  818 non-null    object
 2   iso3c_gaining    787 non-null    object
 3   country_losing   654 non-null    object
 4   iso3c_losing     606 non-null    object
 5   type             842 non-null    object
 6   pop              842 non-null    object
 7   area             842 non-null    object
dtypes: int64(1), object(7)
memory usage: 52.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             283 non-null    int64
 1   country_gaining  274 non-null    object
 2   iso3c_gaining    265 non-null    object
 3   country_losing   262 non-null    object
 4   iso3c_losing     249 non-null    object
 5   type             283 non-null    object
 6   pop              283 non-null    object
 7   area             283 non-null    object
dtypes: int64(1), object(7)
memory usage: 17.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8881 entries, 0 to 8880
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             8881 non-null   object
 1   Country                        8880 non-null   object
 2   Latitude                       8880 non-null   float64
 3   Longitude                      8880 non-null   float64
 4   Page                           8793 non-null   object
 5   Battle                         8874 non-null   object
 6   Year                           8879 non-null   object
 7   Participants                   8358 non-null   object
 8   War                            8875 non-null   object
 9   Winner                         8853 non-null   object
 10  Loser                          8606 non-null   object
 11  Participant 1                  336 non-null    object
 12  Participant 2                  332 non-null    object
 13  Lehmann Zhukov Scale           4883 non-null   float64
 14  Theatre                        8881 non-null   object
 15  Polygon                        112 non-null    object
 16  Massacre                       8879 non-null   object
 17  Alternative Sources Consulted  4226 non-null   object
 18  Infered Scale                  870 non-null    object
 19  Minor                          257 non-null    float64
dtypes: float64(4), object(16)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8881 entries, 0 to 8880
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             8881 non-null   object
 1   Country                        8880 non-null   object
 2   Latitude                       8880 non-null   float64
 3   Longitude                      8880 non-null   float64
 4   Page                           8793 non-null   object
 5   Battle                         8874 non-null   object
 6   Year                           8879 non-null   object
 7   Participants                   8358 non-null   object
 8   War                            8875 non-null   object
 9   Winner                         8853 non-null   object
 10  Loser                          8606 non-null   object
 11  Participant 1                  336 non-null    object
 12  Participant 2                  332 non-null    object
 13  Lehmann Zhukov Scale           4883 non-null   float64
 14  Theatre                        8881 non-null   object
 15  Polygon                        112 non-null    object
 16  Massacre                       8879 non-null   object
 17  Alternative Sources Consulted  4226 non-null   object
 18  Infered Scale                  870 non-null    object
 19  Minor                          257 non-null    float64
dtypes: float64(4), object(16)
memory usage: 1.4+ MB

{'territorial_changes_1816_head':    year country_gaining iso3c_gaining  country_losing iso3c_losing  \
 0  1816       ARGENTINA           ARG           SPAIN          ESP
 1  1816  UNITED KINGDOM           GBR           NEPAL          NPL
 2  1816  UNITED KINGDOM           GBR             NaN          NaN
 3  1817          FRANCE           FRA  UNITED KINGDOM          GBR
 4  1817          RUSSIA           RUS             NaN          NaN

                                         type      pop        area
 0   UNKNOWN PROCESS\r\n(OFTEN INDEPENDENCES)  1970000  2093164.00
 1  CESSION\r\n(PART YIELDED TO OTHER ENTITY)        .        1.00
 2  CESSION\r\n(PART YIELDED TO OTHER ENTITY)        .      179.00
 3  CESSION\r\n(PART YIELDED TO OTHER ENTITY)   100000     7819.00
 4                  CONQUEST\r\n(ARMED FORCE)        .      650.00  ,
 'territorial_changes_1816_info': None,
 'territorial_changes_1945_head':    year country_gaining iso3c_gaining  country_losing iso3c_losing  \
 0  1946           SYRIA           SYR          FRANCE          FRA
 1  1946         LEBANON           LBN          FRANCE          FRA
 2  1946          JORDAN           JOR  UNITED KINGDOM          GBR
 3  1946     PHILIPPINES           PHL   UNITED STATES          USA
 4  1947   UNITED STATES           USA           JAPAN          JPN

                                                 type       pop       area
 0           UNKNOWN PROCESS\r\n(OFTEN INDEPENDENCES)   2978000  184920.00
 1           UNKNOWN PROCESS\r\n(OFTEN INDEPENDENCES)   1156000   10400.00
 2           UNKNOWN PROCESS\r\n(OFTEN INDEPENDENCES)    400000   89484.00
 3           UNKNOWN PROCESS\r\n(OFTEN INDEPENDENCES)  18400000  299404.00
 4  MANDATED TERRITORY\r\n(BY LEAGUE OF NATIONS OR...     47000    1779.00  ,
 'territorial_changes_1945_info': None,
 'hced_data_head':                    ID  Country   Latitude  Longitude              Page  \
 0    1stDragasani1821   GREECE  44.663180  24.260871  CLODFELTER, P191
 1     1stGiurgevo1811  ROMANIA  43.897701  25.927498  CLODFELTER, P190
 2      2ndBreslau1757   POLAND  51.107885  17.038538   CLODFELTER, P80
 3     2ndGiurgevo1811  ROMANIA  43.897701  25.927498               NaN
 4  2ndSchweidnitz1757   POLAND  50.849843  16.475679   CLODFELTER, P80

         Battle  Year Participants                        War          Winner  \
 0    DRAGASANI  1821          NaN  GREEK WAR OF INDEPENDENCE    GREEK REBELS
 1     GIURGEVO  1811          NaN         RUSSO-TURKISH WARS  OTTOMAN EMPIRE
 2      BRESLAU  1757          NaN            SEVEN YEARS WAR         PRUSSIA
 3     GIURGEVO  1811          NaN         RUSSO-TURKISH WARS          RUSSIA
 4  SCHWEIDNITZ  1757          NaN           SEVEN YEARS' WAR         PRUSSIA

              Loser Participant 1 Participant 2  Lehmann Zhukov Scale Theatre  \
 0   OTTOMAN EMPIRE           NaN           NaN                   1.0    LAND
 1           RUSSIA           NaN           NaN                   2.0    LAND
 2  HABSBURG EMPIRE           NaN           NaN                   3.0    LAND
 3   OTTOMAN EMPIRE           NaN           NaN                   3.0    LAND
 4  HABSBURG EMPIRE           NaN           NaN                   3.0    LAND

   Polygon Massacre                 Alternative Sources Consulted  \
 0     NaN       NO  CLODFELTER, WARFARE AND ARMED CONFLICT, P191
 1     NaN       NO  CLODFELTER, WARFARE AND ARMED CONFLICT, P190
 2     NaN       NO   CLODFELTER, WARFARE AND ARMED CONFLICT, P80
 3     NaN       NO  CLODFELTER, WARFARE AND ARMED CONFLICT, P190
 4     NaN       NO   CLODFELTER, WARFARE AND ARMED CONFLICT, P80

   Infered Scale  Minor
 0           NaN    NaN
 1           NaN    NaN
 2           NaN    NaN
 3           NaN    NaN
 4           NaN    NaN  ,
 'hced_data_info': None,
 'battle_deaths_head':                    ID  Country   Latitude  Longitude              Page  \
 0    1stDragasani1821   GREECE  44.663180  24.260871  CLODFELTER, P191
 1     1stGiurgevo1811  ROMANIA  43.897701  25.927498  CLODFELTER, P190
 2      2ndBreslau1757   POLAND  51.107885  17.038538   CLODFELTER, P80
 3     2ndGiurgevo1811  ROMANIA  43.897701  25.927498               NaN
 4  2ndSchweidnitz1757   POLAND  50.849843  16.475679   CLODFELTER, P80

         Battle  Year Participants                        War          Winner  \
 0    DRAGASANI  1821          NaN  GREEK WAR OF INDEPENDENCE    GREEK REBELS
 1     GIURGEVO  1811          NaN         RUSSO-TURKISH WARS  OTTOMAN EMPIRE
 2      BRESLAU  1757          NaN            SEVEN YEARS WAR         PRUSSIA
 3     GIURGEVO  1811          NaN         RUSSO-TURKISH WARS          RUSSIA
 4  SCHWEIDNITZ  1757          NaN           SEVEN YEARS' WAR         PRUSSIA

              Loser Participant 1 Participant 2  Lehmann Zhukov Scale Theatre  \
 0   OTTOMAN EMPIRE           NaN           NaN                   1.0    LAND
 1           RUSSIA           NaN           NaN                   2.0    LAND
 2  HABSBURG EMPIRE           NaN           NaN                   3.0    LAND
 3   OTTOMAN EMPIRE           NaN           NaN                   3.0    LAND
 4  HABSBURG EMPIRE           NaN           NaN                   3.0    LAND

   Polygon Massacre                 Alternative Sources Consulted  \
 0     NaN       NO  CLODFELTER, WARFARE AND ARMED CONFLICT, P191
 1     NaN       NO  CLODFELTER, WARFARE AND ARMED CONFLICT, P190
 2     NaN       NO   CLODFELTER, WARFARE AND ARMED CONFLICT, P80
 3     NaN       NO  CLODFELTER, WARFARE AND ARMED CONFLICT, P190
 4     NaN       NO   CLODFELTER, WARFARE AND ARMED CONFLICT, P80

   Infered Scale  Minor
 0           NaN    NaN
 1           NaN    NaN
 2           NaN    NaN
 3           NaN    NaN
 4           NaN    NaN  ,
 'battle_deaths_info': None}

In [68]:
# Check the unique values in the 'pop' and 'area' columns to look for any formatting issues
territorial_changes_1816['pop'] = pd.to_numeric(territorial_changes_1816['pop'], errors='coerce')
territorial_changes_1816['area'] = pd.to_numeric(territorial_changes_1816['area'], errors='coerce')

# Repeat the same for Territorial Changes 1945
territorial_changes_1945['pop'] = pd.to_numeric(territorial_changes_1945['pop'], errors='coerce')
territorial_changes_1945['area'] = pd.to_numeric(territorial_changes_1945['area'], errors='coerce')

# Check for any inconsistencies or NaNs generated due to conversion issues in 'pop' and 'area'
territorial_changes_1816 = territorial_changes_1816[territorial_changes_1816[['pop', 'area']].isna().any(axis=1)]
territorial_changes_1945 = territorial_changes_1945[territorial_changes_1945[['pop', 'area']].isna().any(axis=1)]



# Define a function to compute the average year for ranges like '1218-1219'
def clean_year(year):
    if isinstance(year, str):
        match = re.match(r'(\d+)-(\d+)', year)
        if match:
            # Take the average of the two years and round it
            start_year = int(match.group(1))
            end_year = int(match.group(2))
            return round((start_year + end_year) / 2)
    # If it's a valid year or not a range, return the year as is
    return year


hced_data['Year'] = hced_data['Year'].apply(clean_year)
battle_deaths['Year'] = battle_deaths['Year'].apply(clean_year)

# Convert the Year to numeric if necessary
hced_data['Year'] = pd.to_numeric(hced_data['Year'], errors='coerce')
battle_deaths['Year'] = pd.to_numeric(battle_deaths['Year'], errors='coerce')

In [ ]:
# Code your stuff here